[submodule "sensors/ESP8266_RTOS_SDK"]
	path = sensors/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK.git
[submodule "sensors/esp-idf-lib"]
	path = sensors/esp-idf-lib
	url = https://github.com/mattcaron/esp-idf-lib
